<div class="container">
    <h3>Angular 2 Forms</h3>
    <form>
        <div class="form-group">
            <input type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="{ showWeekNumbers: false }"
                    name="startDate"
                    [(ngModel)]="startDate">
        </div>
        <h4>Start Date:</h4>
        {{startDate}} <br>
        <hr>
        <div class="form-group">
            <timepicker name="startTime"
                [(ngModel)]="startTime"
                [showSeconds]="true"
                [hourStep]="hstep" 
                [minuteStep]="mstep" 
                [secondsStep]="sstep">
            </timepicker>
        </div>
        <pre class="alert alert-info">Time is: {{startTime}}</pre> <br>
        <hr>
        <div class="form-group">
            <pre class="card card-body">{{singleModel}}</pre> <br>
            <button type="button" 
                    class="btn"
                    [class.btn-primary]="singleModel === 'On'"
                    name="singleModel"
                    [(ngModel)]="singleModel"
                    btnCheckbox
                    btnCheckboxTrue="On" 
                    btnCheckboxFalse="Off">
                {{singleModel}}
            </button>
        </div>
        <hr>
        <div class="form-group">
            <pre class="card card-block card-header">{{radioModel || 'null'}}</pre><br>
            <div class="btn-group">
                <label class="btn btn-primary" 
                        [(ngModel)]="radioModel"
                        btnRadio="Left" 
                        name="Left"
                        tabindex="0" 
                        role="button">
                        Left
                </label>
                <label class="btn btn-primary" 
                        [(ngModel)]="radioModel"
                        btnRadio="Middle" 
                        name="Middle"
                        tabindex="0" 
                        role="button">
                        Middle
                </label>
                <label class="btn btn-primary" 
                        [(ngModel)]="radioModel"
                        btnRadio="Right" 
                        name="Right"
                        tabindex="0" 
                        role="button">
                        Right
                </label>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div>
                <rating name="postRating" [max]="10" [(ngModel)]="postRating" [customTemplate]="tt"></rating>
                <br> <b>(<i>Rate:</i>{{postRating}})</b>
                <ng-template #tt let-i="index" let-v="value">
                    <button class="btn btn-{{i < v ? 'warning' : 'default'}}">
                    {{i < v ? '&#9733;' : '&#9734;'}}
                    </button>
                </ng-template>
            </div>
        </div>
    </form>
    <hr>
</div>
















































<!-- <h3 *ngIf="languages.length == 0">Loading...</h3>
<div class="container" *ngIf="languages.length > 0">
    <h3>Employee Form</h3>
    <form #form="ngForm" (submit)="submitForm(form)" novalidate>
        <div class="form-group">
            <label>First Name</label>
            <input #firstName="ngModel" required type="text" class="form-control" name="firstName"
                [class.is-invalid]="firstName.invalid && firstName.touched"  
                [ngModel]="model.firstName" 
                (ngModelChange)="firstNameToUpperCase($event)">
                <div class="invalid-feedback">First Name is required!</div>
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input #lastName="ngModel" required type="text" class="form-control" name="lastName"
                [class.is-invalid]="lastName.invalid && lastName.touched"
                [(ngModel)]="model.lastName">
            <div class="invalid-feedback">Last Name is required!</div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="is-full-time"
                [(ngModel)]="model.isFullTime"> Full Time Employee
            </label>
        </div>
        <div class="form-group">
            <label>Payment Type</label>
            <div class="form-check">
                <input class="form-check-input" required type="radio" name="paymentType" value="w2" checked
                    [(ngModel)]="model.paymentType">
                <label class="form-check-label">W2</label>     
            </div>
            <div class="form-check">
                <input class="form-check-input" required type="radio" name="paymentType" value="1099"
                    [(ngModel)]="model.paymentType">            
                <label class="form-check-label">1099</label>  
            </div>
        </div>
        <div class="form-group">
            <label>Primary Language</label>
            <select #primaryLanguage="ngModel" class="form-control" name="primaryLanguage" [class.is-invalid]="hasPrimaryLanguage"  
                [(ngModel)]="model.primaryLanguage"
                (blur)="validatePrimaryLanguage(primaryLanguage.value)"
                (change)="validatePrimaryLanguage(primaryLanguage.value)">
                <option value="default">Select a Language...</option>
                <option *ngFor="let lang of languages">
                    {{lang}}
                </option>
            </select>            
            <div class="invalid-feedback">Language is required!</div>
        </div> 

        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Ok</button>
    </form>
    <br>
    <h4>Model:</h4>
        {{ model | json }}
    <br>
    <h4>Angular:</h4>
        {{ form.value | json }}
    <br>
    <h4>Form:</h4>
        {{form.pristine }} <br>
        {{form.valid}} <br>
        {{form.touched}} <br>
        {{form.untouched}}
</div> -->